*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

p{
   color: #766F68; 
}

.nav a{
    margin: 10px;
}